* {
  letter-spacing: 3px;
  font-weight: 300;
}
header {
  background-color: #1c1c1c;
}

.logo {
  font-family: "Gwendolyn", cursive;
  letter-spacing: 0;
  text-transform: none;
}

.bg-image {
  width: 100%;
  height: 10vh;
  position: relative;
  top: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bgimage-leaves {
  background: url(https://i.ibb.co/ns7kXkf/leaves.png);
  width: 100%;
  height: 120vh;

  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-page {
  padding-top: 95px;
  padding-bottom: 140px;
}

h1,
h5 {
  font-family: "Marcellus", serif;
  line-height: 2rem;
  z-index: 3;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
  z-index: 3;
}

.teddy-rex {
  width: 350px;
  height: auto;
  position: relative;
  bottom: 17px;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

.project-img,
.project-img-gray {
  width: 300px;
}

.project-img {
  height: auto;
}

.project-img:hover {
  width: 350px;
}

.row-2 {
  background-color: #5a5959;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg-color {
  background-color: #1c1c1c;
}

.footer-copyright {
  font-size: 12px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
