/* font-family: 'Gwendolyn', cursive;
font-family: 'Marcellus', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  letter-spacing: 3px;
  font-weight: 300;
}
header {
  background-color: #1c1c1c;
}

.logo {
  font-family: "Gwendolyn", cursive;
  letter-spacing: 0;
  text-transform: none;
}

.bg-image {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
}
.bgimage-leaves {
  background: url(../img/leaves.png);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 30px;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-page {
  padding-top: 95px;
  padding-bottom: 140px;
}

h1,
h5 {
  font-family: "Marcellus", serif;
  line-height: 2rem;
  z-index: 3;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
  z-index: 3;
}

.teddy-rex {
  width: 350px;
  height: auto;
  position: relative;
  bottom: 17px;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

.project-img {
  width: 300px;
  height: auto;
}
