* {
  letter-spacing: 3px;
  font-weight: 300;
}
header {
  background-color: #1c1c1c;
}

.logo {
  font-family: "Gwendolyn", cursive;
  letter-spacing: 0;
  text-transform: none;
}

.bg-image {
  width: 100%;
  height: 10vh;
  position: relative;
  top: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bgimage-leaves {
  background: url(https://i.ibb.co/ns7kXkf/leaves.png);
  width: 100%;
  height: 120vh;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-page {
  padding-top: 95px;
  padding-bottom: 140px;
}

h1,
h5 {
  font-family: "Marcellus", serif;
  line-height: 2rem;
  z-index: 3;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
  z-index: 3;
}

.teddy-rex {
  width: 350px;
  height: auto;
  position: relative;
  bottom: 17px;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

.project-img,
.project-img-gray {
  width: 300px;
}

.project-img {
  height: auto;
  transition: all 0.5s ease-in-out;
}

.project-img:hover {
  width: 350px;
}

.row-2 {
  background-color: #5a5959;
}

.bg-color {
  background-color: #1c1c1c;
}

.footer-copyright {
  font-size: 12px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

section {
  transition: all 0.5s linear;
}
body,
.sec,
.sucPage {
  background-color: white;
  color: #1c1c1c;
}

.dark-section {
  background-color: #313131;
  color: white;
}
.noHover {
  border: none;
}
button:active {
  outline: none;
  border: none;
}

.light-mode {
  content: url(https://i.ibb.co/Kb9WrNg/sunmine.png);
  margin: 0 auto;
}

.light-mode2 {
  content: url(https://i.ibb.co/Kb9WrNg/sunmine.png);
  margin: 0 auto;
}

.dark-mode2 {
  content: url(https://i.ibb.co/rmJWgm4/moonmini.png);
  margin: 0 auto;
}

.dark-mode {
  content: url(https://i.ibb.co/rmJWgm4/moonmini.png);
  margin: 0 auto;
}

.black-border {
  border: 1px solid black;
}

.dividers,
.dividers1,
.dividers2 {
  content: url(https://i.ibb.co/kQjY7sd/blackdivider.png);
  width: auto;
}

.dark-divider {
  content: url(https://i.ibb.co/jwRdBnW/whitedivider.png);
  width: auto;
}

.form-control {
  background-color: none;
  color: #1c1c1c;
}

.formD {
  background-color: #5a5959;
  color: white;
}
